/* Placeholder (https://tiptap.dev/api/extensions/placeholder) */
zx-prose-editor p.is-editor-empty:first-child::before {
  color: #9ca3af;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Highlight (https://tiptap.dev/api/marks/highlight) */
zx-prose-editor .ProseMirror mark {
  background-color: #faf594;
}

/* HorizontalRule (https://tiptap.dev/api/nodes/horizontal-rule) */
zx-prose-editor .ProseMirror hr {
  margin: 1rem 0;
}

zx-prose-editor .ProseMirror hr.ProseMirror-selectednode {
  border-color: Highlight;
}
